.idea/
__pycache__/
t.py
t1.py
today_in_history*.json
nohup.out
.DS_Store
*.json
*.log
push/client.py
*.png
*.html
*news*.txt
*.db
*.pclprof
test_t.py
downloads
downloads.tar.gz
restart_local.sh
send_news.py
temp_send_news.py
ask_robot.egg-info
dist
build
start_server.py
auto.sh
restart.sh
t.json